.carrinho {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: var(--cinza-claro);

  background-color: var(--preto-translucido);
  border-radius: 10px;

  padding: 2em 2em;

  margin-top: 5em;

  width: 400px;

  /* border: 1px solid red; */
}

.carrinho h2 {
  border-bottom: 2px solid var(--cinza-claro);
  padding-bottom: .5em;
  margin-bottom: 1em;

  font-size: 1.5em;
}

.carrinho h2::before {
  content: "";
  display: inline-block;
  background-image: url("../img/svg/carrinho.svg");
  background-size: cover;
  width: 32px;
  height: 32px;

  margin-right: 1em;

  transform: translateY(5px)

  /* border: 1px solid blue; */
}

.box {
  max-height: 450px;
  height: 100%;
  overflow-y: scroll;
}

.box ul {
  display: flex;
  flex-direction: column;
}

.itens li {
  display: flex;
  flex-direction: column;

  max-width: 285px;
  
  margin-bottom: 1.3em;

  padding-bottom: .5em;
  border-bottom: 1px solid var(--cinza-muito-claro);
}

.itens li > span {
  margin-top: .3em;
}

li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li div div {
  /* border: 1px solid red; */
  background-color: var(--cinza-escuro);
  border-radius: 20px;
  height: 30px;
  margin-right: .5em;
}

.inputQuantidade {
  width: 40px;
  text-align: center;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
  background-color: var(--cinza-escuro);
  color: var(--cinza-claro);
  margin: 0 .3em;
}

.btnQuantidade {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#btnMenos {
  margin-left: .5em;
}

#btnMais {
  margin-right: .5em;
}

span[data-precoTotal] {
  margin-left: .5em;
}

.info {
  border-top: 2px solid var(--cinza-claro);
  padding-top: 1em;
  margin-top: 1em;

  margin-bottom: 1em;
}

.info p {
  margin-bottom: .5em;
}

.btnFinalizarPedido {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--branco);

  font-weight: 600;
  font-size: 1.2em;

  height: 50px;
  width: 100%;

  border: none;
  border-radius: 10px;
  background-color: var(--vermelho);

  cursor: pointer;
}