@media screen and (max-width: 1400px) {
  .filtro {
    gap: 20px;
    flex-wrap: wrap;
  }
}

.filtro {
  display: flex;
  justify-content: space-between;

  color:var(--branco);

  width: auto;

  padding: .5em 1em 1em 1em;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;  
}

.filtro-nome input {
  width: 385px;
  height: 40px;

  font-size: 1.1em;

  background-color: var(--cinza-escuro);

  border: none;

  border-radius: 5px;

  color: var(--cinza-claro);

  box-shadow: 0 0 0 0;
  outline: 0;

  padding-inline-start: 1em;
}

select {
  border: none;
  background-color: var(--cinza-escuro);

  font-size: 1.1em;
  text-align: center;

  color: var(--cinza-muito-claro);

  width: 400px;
  height: 42px;

  border-radius: 5px;
}