header {
  display: flex;
  justify-content: space-between;

  max-width: 100vw;
  height: 128px;

  margin-top: 6em;

  /* border: 1px solid greenyellow; */
}

.faixa {
  display: flex;
  align-self: center;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  background-color: var(--vermelho);
}

a {
  display: flex;
  align-items: center;
  justify-content: space-around;

  text-decoration: none;
  color: var(--branco);

  cursor: pointer;

  margin: .3em 0 .3em 0;
  padding-right: 1em;
}

nav a {
  padding: 0 1em;
}

nav a:hover {
  background-color: var(--vermelho-escuro);
  border-radius: 999px;
  
  transition: all .1s ease-in-out;
  transform: scale(1.15);
} 

nav a img {
  margin-right: .5em;
}

.img-logo {
  align-self: center;
  width: 128px;
  height: 128px;
  border-radius: 999px;

  margin-left: 5em;
}

.botao-entrar {
  display: flex;
  justify-content: center;

  font-weight: 600;
  font-size: 1.2em;

  height: 50px;
  width: 100px;

  border-radius: 10px;
  background-color: var(--vermelho);

  margin-right: 5em;
  padding-left: 1em;

  transform: translateY(-70px);
}

.botao-perfil img {
  margin-right: .5em;
}

.invisivel {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-self: center;

  width: 700px;
  height: 50px;

  background-color: var(--vermelho);
}
