.inputBox {
  display: flex;
  position: relative;
}

textarea {
  resize: none;
}

.inputBox input,
.inputBox textarea {
  width: 350px;
  padding: 10px;
  background: var(--cinza-escuro);

  outline: none;
  color: var(--cinza-muito-claro);
  font-size: 1.1em;
  transition: 0.5s;

  border:  1px solid black;
  border-radius: 4px;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: var(--cinza-muito-claro);
  text-transform: uppercase;
  transition: 0.3s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:focus ~ span {
  color: var(--cinza-muito-claro);
  transform: translateX(10px) translateY(-5px);
  font-size: 0.8em;
  font-weight: 500;
  padding: 0 15px;
  background: var(--cinza-escuro);
  border-radius: 10px;
  border-left: 2px solid var(--cinza-muito-claro);
  border-right: 2px solid var(--cinza-muito-claro);

  letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:focus {
  border: 1px solid var(--cinza-muito-claro);
}