menu {
  padding-left: 20px;
  margin-top: 3em;
  width: 300px;

  position: relative;
}

img {
  width: 1.5em;
}

#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  position: absolute;
  top: 1em;
  left: 1em;
  /* margin-left: -1em; */
  /* margin-top: -45px;  */
  width: 3em;
  height: 45px;
  z-index: 5;

  /* border: 1px solid red; */

  cursor: pointer;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: var(--cinza-muito-claro);
  margin-top: 8px;
  transition: all 1s ease-in-out;
}

/**
Nav Styles
**/
.nav {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--cinza-escuro);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  /* transform: scale(0); */
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

nav {
  text-align: left;
  margin-left: 1.5em;
  margin-top: 5em;
}

nav a {
  position: relative;
  text-decoration: none;
  color: var(--cinza-muito-claro);
  font-size: 1.1em;
  font-weight: 700;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}

nav a:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: var(--cinza-muito-claro);
  left: -0.5em;
  transition: all 0.2s ease-in-out;
  border-radius: 999px;
}

/* nav a:hover {
  color: white;
} */

nav a:hover:before {
  height: 100%;
}

/**
Animations
**/
#toggle + .hamburger {
  transition: all 0.5s ease-in-out;
}

#toggle:checked + .hamburger {
  transform: translate(200px);
  transition: all 0.5s ease-in-out;
}

#toggle:checked + .hamburger div {
  background-color: var(--cinza-muito-claro);
}

#toggle + .hamburger .top-bun,
#toggle + .hamburger .meat,
#toggle + .hamburger .bottom-bun {
  transition: all 0.2s ease-in-out;
}

#toggle + .hamburger .top-bun {
  width: 2em;
  transform: translateX(17px) translateY(7px) rotate(30deg);
}

#toggle + .hamburger .bottom-bun {
  width: 2em;
  transform: translateX(17px) translateY(-7px)  rotate(-30deg);
}

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
  transition: all 0.2s ease-in-out;
  width: 3em;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
  transition: all 0.2s ease-in-out;
}

#toggle:checked + .hamburger + .nav {
  left: 0;
  /* transform: scale(1); */
}
